{% extends 'base.html' %}
{% block title %}Faça o Login {% endblock %}
{% block content %}

    <div class="Login">
        <h1>Entrar</h1>
        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- <input  class="login" type="submit" value="Login"> -->
            <button class="login" >Entrar</button>
            
            <a href="{% url 'account:register' %}">            
                <button type="button" class="criar_conta" >Registrar</button>
            </a>
        </form>
    </div>

{% endblock %}