{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Perfil de {{request.username}}{% endblock %}
{% block content %}
    <div class="container">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Username: {% if not request.user.username %} <strong>Vazio</strong> {% endif %}{{request.user.username}}</li>
            <li class="list-group-item">Email: {% if not request.user.usuario.email %} <strong>Vazio</strong> {% endif %} {{request.user.usuario.email}}</li>
            <li class="list-group-item">Nome: {% if not request.user.usuario.nome %} <strong>Vazio</strong> {% endif %} {{request.user.usuario.nome}}</li>
            <li class="list-group-item">Idade: {% if not request.user.usuario.idade %} <strong>Vazio</strong> {% endif %}{{request.user.usuario.idade}}</li>
            <li class="list-group-item">Gênero: {% if not request.user.usuario.genero %} <strong>Vazio</strong> {% endif %}{{request.user.usuario.get_genero_display}}</li>
            <li class="list-group-item">Escolaridade: {% if not request.user.usuario.escolaridade %} <strong>Vazio</strong> {% endif %}{{request.user.usuario.get_escolaridade_display}}</li>
            <li class="list-group-item">Curso: {% if not request.user.usuario.curso %} <strong>Vazio</strong> {% endif %}{{request.user.usuario.curso}}</li>
            <li class="list-group-item">Nacionalidade: {% if not request.user.usuario.nacionalidade %} <strong>Vazio</strong> {% endif %}{{request.user.usuario.nacionalidade}}</li>
          </ul>
        <p><a href="{% url 'account:perfilAtualizar' %}">Alterar seu perfil</a></p>
    </div>
{% endblock %}
