{% extends 'base.html' %}

{% block content %}

    <div class="container mt-4" style="width:600px;">
        <div class="card mb-3 mt-4">
            <div class="card-body">
                <h3 >Obrigado por responder ao nosso questionário!</h1>
                <h2 class="lead">Novos questionários serão disponibilizados em breve.</h2>
            </div>
            <div><a  href='/' class="btn btn-primary btn-lg  ml-4 mb-4">Página Inicial</a></div>
        </div>
    </div>
    

{% endblock %}